doctype
html
  head
    title #{title} - Slack
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.structure.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.theme.min.css')
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/jquery-ui.min.js')
  body
    header
      h1 Slack
    .container
      .main-content
        block content
